<div style="margin: 0 0 20px;">
  <button type="button" class="button" id="newAddToCart">Add to cart</button>
</div>

<script>
  const addToCart = document.querySelector('#newAddToCart')
  addToCart.addEventListener('click', function (e) {
    e.preventDefault()

    let variantId
    const url = window.location.href
    const variantIdFromUrl = url.split("?variant=")[1]

    if(variantIdFromUrl != undefined) {
      variantId = variantIdFromUrl
    } else {
      variantId = {{ variant_id }};
    }

    let formData = {
      'items': [{
        'id': variantId,
        'quantity': 1
      }]
    };

    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        return response.json();
      })
      .then(response => {
        location.reload()
      })
      .catch((error) => {
        console.error('Error:', error);
    });
  })
</script>