<div>
  <button type="button" class="button" id="removeFromCart">Remove product from cart</button>
</div>

<script>
  const removeFromCart = document.querySelector('#removeFromCart')
  removeFromCart.addEventListener('click', function (e) {
    e.preventDefault()

    let variantId
    const url = window.location.href
    const variantIdFromUrl = url.split("?variant=")[1]

    if(variantIdFromUrl != undefined) {
      variantId = variantIdFromUrl
    } else {
      variantId = {{ variant_id }};
      variantId = variantId.toString()
    }

    let formData = {
      'id': variantId,
      'quantity': 0
    };

    fetch(window.Shopify.routes.root + 'cart/change.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        return response.json();
      })
      .then(response => {
        location.reload()
      })
      .catch((error) => {
        console.error('Error:', error);
    });
  })
</script>